In [1]:
123<6

False

In [2]:
"123"<"6"

True

In [3]:
123>6

True

In [4]:
"123"<"6"

True

In [5]:
"orange"<"mango"

False

In [6]:
"apple"<"appel"

False

In [7]:
[10,20,30,40]<[10,20,30,40,50]

True

In [8]:
[10,20,30,40]<[1,20,30,40,50]

False

In [9]:
[10,20,30,40]==[10,20,30,40]

True

In [10]:
[10,20,30,40]==[10,20,30,40,50]

False

In [11]:
[10,20,30,40]==[10,20,40,30]

False

In [12]:
l1=[10,20,30,40]
l2=[40,30,10,20]

In [13]:
l1=[10,20,30,40]
l2=[40,30,10,20,50]

In [14]:
s1="234"
s2="cost price:"
print s2+s1

cost price:234

In [15]:
s1=234
s2="cost price:"
print s2+s1

TypeError: cannot concatenate 'str' and 'int' objects

In [16]:
s1=234.234
s2="cost price:"
print s2+s1

TypeError: cannot concatenate 'str' and 'float' objects

In [17]:
s1=[234.234]
s2="cost price:"
print s2+s1

TypeError: cannot concatenate 'str' and 'list' objects

In [18]:
s1=(234.234)
s2="cost price:"
print s2+s1

TypeError: cannot concatenate 'str' and 'float' objects

In [19]:
s1={234.234}
s2="cost price:"
print s2+s1

TypeError: cannot concatenate 'str' and 'set' objects

In [20]:
print "*"+20

TypeError: cannot concatenate 'str' and 'int' objects

In [21]:
print "*"*20

********************

In [22]:
print "python"*20

pythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpythonpython

In [23]:
print [10,20,30]+10

TypeError: can only concatenate list (not "int") to list

In [24]:
print [10,20,30]*12

[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [25]:
print "python"*12.34

TypeError: can't multiply sequence by non-int of type 'float'

In [26]:
12>34

False

In [28]:
"6">"123"

True

In [29]:
"6">78906543

True

In [30]:
"0">78906543

True

In [31]:
"0"<1234567

False

In [32]:
"1"==1

False

In [33]:
a=10
b=010
print a==b

False

In [34]:
a=10
b=010
print b

8

In [35]:
a=0x12356
print a

74582

In [36]:
a=0x136
print a

310

In [37]:
a=0x136
print a
print 6*16**0+3*16**1+1*16**2

310
310

In [38]:
a=0x136
b=0o136
print a
print 6*16**0+3*16**1+1*16**2
print b
print 6*8**0+3*8**1+1*8**2
c=0b101
print c
print 1*2**0+0*2**1+1*2**2

310
310
94
94
5
5

In [39]:
print 010

8

In [41]:
a=0xabc
print a

2748

In [42]:
a=0xabcf
print a

43983

In [43]:
a=0xabcg
print a

SyntaxError: invalid syntax (<ipython-input-43-d5b7b7d39b9c>, line 1)

In [44]:
a=0o234
print a

156

In [45]:
a=0o2348
print a

SyntaxError: invalid syntax (<ipython-input-45-6f52357ecb03>, line 1)

In [46]:
a=123
print a

123

In [47]:
a=0x1234
b=0o345
print type(a),type(b)
print a+b

<type 'int'> <type 'int'>
4889

In [48]:
a=raw_input("Enter a value:")
b=raw_input("Enter b value:")
print a+b

Enter a value:10
Enter b value:20
1020

In [49]:
a=raw_input("Enter a value:")
b=raw_input("Enter b value:")
print type(a)
print type(b)
print a+b

Enter a value:python
Enter b value:program
<type 'str'>
<type 'str'>
pythonprogram

In [50]:
a=raw_input("Enter a value:")
b=raw_input("Enter b value:")
print type(a)
print type(b)
print a+b

Enter a value:10
Enter b value:20
<type 'str'>
<type 'str'>
1020

In [51]:
a="10"
b="20"
print a+b
a=10
b=20
print a+b

1020
30

In [52]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a,type(a)
print b, type(b)

Enter a value:10
Enter b value:10
10 <type 'str'>
10 <type 'int'>

In [53]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a,type(a)
print b, type(b)

Enter a value:10.23
Enter b value:10.23
10.23 <type 'str'>
10.23 <type 'float'>

In [54]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a,type(a)
print b, type(b)

Enter a value:1+2j
Enter b value:1+2j
1+2j <type 'str'>
(1+2j) <type 'complex'>

In [55]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a,type(a)
print b, type(b)

Enter a value:[10,20,30,40]
Enter b value:[10,20,30,40]
[10,20,30,40] <type 'str'>
[10, 20, 30, 40] <type 'list'>

In [56]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a,type(a)
print b, type(b)

Enter a value:(10,20,30)
Enter b value:(10,20,30)
(10,20,30) <type 'str'>
(10, 20, 30) <type 'tuple'>

In [57]:
a=raw_input("Enter  name:")
b=input("Enter name:")
print a,type(a)
print b, type(b)

Enter  name:Anil
Enter name:Anil

NameError: name 'Anil' is not defined

In [58]:
a=raw_input("Enter  name:")
b=input("Enter name:")
print a,type(a)
print b, type(b)

Enter  name:Anil
Enter name:"Anil"
Anil <type 'str'>
Anil <type 'str'>

In [59]:
a=raw_input("Enter  a value:")
b=raw_input("Enter  b value:")
print a+b

Enter  a value:10
Enter  b value:20
1020

In [60]:
a=raw_input("Enter  a value:")
b=raw_input("Enter  b value:")
print type(a),type(b)
print a+b
a=int(a)
b=int(b)
print type(a),type(b)
print a+b

Enter  a value:12
Enter  b value:34
<type 'str'> <type 'str'>
1234
<type 'int'> <type 'int'>
46

In [61]:
a=10
b=str(a)
print a,type(a)
print b,type(b)

10 <type 'int'>
10 <type 'str'>

In [62]:
a=[10,20,30,40]
b="[10,20,30,40]"
print type(a)
print type(b)

<type 'list'>
<type 'str'>

In [64]:
a=5
print float(a)
print hex(a)
print bin(a)
print oct(a)
print ord(str(a))

5.0
0x5
0b101
05
53

In [65]:
ord("5")

53

In [66]:
chr(53)

'5'

In [67]:
ord("A")

65

In [68]:
chr(65)

'A'

In [69]:
import math
math.sqrt(24)

4.898979485566356

In [70]:
import math
math.sqrt(25)

5.0

In [71]:
a=10
print float(a)

10.0

In [72]:
a=raw_input("enter a value:")

enter a value:10,20,30,40,50.

In [ ]:
a=raw_input("enter a value:")
b=raw_input("enter b value:")
a=int(a)
b=int(b)