In [1]:
import sqlite3

In [2]:
con= sqlite3.connect("db1.db")

In [3]:
cur=con.cursor()

In [4]:
cur.execute("create table customer(id int, name varchar(250))")

In [6]:
q="insert into customer(id,name) values(1,'name1')"
cur.execute(q)

In [7]:
con.commit()

In [8]:
import random
names=["pavan","rajesh","jay","sathish","Naresh"]
for i in xrange(100):
    q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
    print q
    break

insert into customer(id,name) values(0,'jay')

In [9]:
import random
names=["pavan","rajesh","jay","sathish","Naresh"]
for i in xrange(100):
    q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
con.commit()

In [11]:
q="select * from customer"
cur.execute(q)

In [12]:
data= cur.fetchall()
print data

[(1, u'name1'), (0, u'jay'), (1, u'sathish'), (2, u'rajesh'), (3, u'pavan'), (4, u'Naresh'), (5, u'sathish'), (6, u'pavan'), (7, u'pavan'), (8, u'sathish'), (9, u'sathish'), (10, u'sathish'), (11, u'pavan'), (12, u'Naresh'), (13, u'pavan'), (14, u'sathish'), (15, u'Naresh'), (16, u'jay'), (17, u'sathish'), (18, u'jay'), (19, u'Naresh'), (20, u'jay'), (21, u'rajesh'), (22, u'jay'), (23, u'jay'), (24, u'rajesh'), (25, u'pavan'), (26, u'Naresh'), (27, u'sathish'), (28, u'rajesh'), (29, u'Naresh'), (30, u'Naresh'), (31, u'pavan'), (32, u'sathish'), (33, u'jay'), (34, u'rajesh'), (35, u'jay'), (36, u'sathish'), (37, u'jay'), (38, u'rajesh'), (39, u'Naresh'), (40, u'sathish'), (41, u'rajesh'), (42, u'Naresh'), (43, u'jay'), (44, u'Naresh'), (45, u'Naresh'), (46, u'pavan'), (47, u'Naresh'), (48, u'jay'), (49, u'pavan'), (50, u'pavan'), (51, u'sathish'), (52, u'pavan'), (53, u'rajesh'), (54, u'pavan'), (55, u'sathish'), (56, u'rajesh'), (57, u'jay'), (58, u'rajesh'), (59, u'rajesh'), (60, u'pavan'), (61, u'sathish'), (62, u'sathish'), (63, u'Naresh'), (64, u'rajesh'), (65, u'rajesh'), (66, u'sathish'), (67, u'sathish'), (68, u'sathish'), (69, u'Naresh'), (70, u'Naresh'), (71, u'jay'), (72, u'jay'), (73, u'sathish'), (74, u'jay'), (75, u'jay'), (76, u'Naresh'), (77, u'jay'), (78, u'pavan'), (79, u'pavan'), (80, u'pavan'), (81, u'rajesh'), (82, u'jay'), (83, u'sathish'), (84, u'rajesh'), (85, u'sathish'), (86, u'rajesh'), (87, u'Naresh'), (88, u'rajesh'), (89, u'jay'), (90, u'rajesh'), (91, u'jay'), (92, u'sathish'), (93, u'rajesh'), (94, u'jay'), (95, u'Naresh'), (96, u'pavan'), (97, u'rajesh'), (98, u'Naresh'), (99, u'Naresh')]

In [13]:
e_id = raw_input("Enter id of the person:")
q="select * from customer where id=%s"%e_id
cur.execute(q)
print cur.fetchone()

Enter id of the person:4
(4, u'Naresh')

In [14]:
e_id = raw_input("Enter id of the person:")
q="select * from customer where id=%s"%e_id
cur.execute(q)
print cur.fetchone()

Enter id of the person:6
(6, u'pavan')

In [15]:
e_id = raw_input("Enter id of the person:")
q="select * from customer where id=%s"%e_id
cur.execute(q)
print cur.fetchone()

Enter id of the person:8
(8, u'sathish')

In [16]:
def browse(e_id=None):
    q="select * from customer"
    if e_id:
        q=q+" where id=%s"%e_id
    cur.execute(q)
    return cur.fetchall()
print browse()
print "*"*20
print browse(10)

[(1, u'name1'), (0, u'jay'), (1, u'sathish'), (2, u'rajesh'), (3, u'pavan'), (4, u'Naresh'), (5, u'sathish'), (6, u'pavan'), (7, u'pavan'), (8, u'sathish'), (9, u'sathish'), (10, u'sathish'), (11, u'pavan'), (12, u'Naresh'), (13, u'pavan'), (14, u'sathish'), (15, u'Naresh'), (16, u'jay'), (17, u'sathish'), (18, u'jay'), (19, u'Naresh'), (20, u'jay'), (21, u'rajesh'), (22, u'jay'), (23, u'jay'), (24, u'rajesh'), (25, u'pavan'), (26, u'Naresh'), (27, u'sathish'), (28, u'rajesh'), (29, u'Naresh'), (30, u'Naresh'), (31, u'pavan'), (32, u'sathish'), (33, u'jay'), (34, u'rajesh'), (35, u'jay'), (36, u'sathish'), (37, u'jay'), (38, u'rajesh'), (39, u'Naresh'), (40, u'sathish'), (41, u'rajesh'), (42, u'Naresh'), (43, u'jay'), (44, u'Naresh'), (45, u'Naresh'), (46, u'pavan'), (47, u'Naresh'), (48, u'jay'), (49, u'pavan'), (50, u'pavan'), (51, u'sathish'), (52, u'pavan'), (53, u'rajesh'), (54, u'pavan'), (55, u'sathish'), (56, u'rajesh'), (57, u'jay'), (58, u'rajesh'), (59, u'rajesh'), (60, u'pavan'), (61, u'sathish'), (62, u'sathish'), (63, u'Naresh'), (64, u'rajesh'), (65, u'rajesh'), (66, u'sathish'), (67, u'sathish'), (68, u'sathish'), (69, u'Naresh'), (70, u'Naresh'), (71, u'jay'), (72, u'jay'), (73, u'sathish'), (74, u'jay'), (75, u'jay'), (76, u'Naresh'), (77, u'jay'), (78, u'pavan'), (79, u'pavan'), (80, u'pavan'), (81, u'rajesh'), (82, u'jay'), (83, u'sathish'), (84, u'rajesh'), (85, u'sathish'), (86, u'rajesh'), (87, u'Naresh'), (88, u'rajesh'), (89, u'jay'), (90, u'rajesh'), (91, u'jay'), (92, u'sathish'), (93, u'rajesh'), (94, u'jay'), (95, u'Naresh'), (96, u'pavan'), (97, u'rajesh'), (98, u'Naresh'), (99, u'Naresh')]
********************
[(10, u'sathish')]

In [17]:
def browse(e_id=None):
    q="select * from customer"
    if e_id:
        q=q+" where id=%s"%e_id
    cur.execute(q)
    return cur.fetchall()
q="update customer set name='mod_name' where id=10"
cur.execute(q)
con.commit()

In [18]:
def browse(e_id=None):
    q="select * from customer"
    if e_id:
        q=q+" where id=%s"%e_id
    cur.execute(q)
    return cur.fetchall()
print browse(10)

[(10, u'mod_name')]

In [19]:
def browse(e_id=None):
    q="select * from customer"
    if e_id:
        q=q+" where id=%s"%e_id
    cur.execute(q)
    return cur.fetchall()
e_id=raw_input("Enter id:")
print browse(e_id)
opt=raw_input("want to update the record?(y/n)")
if opt.lower()=="y":
    name=raw_input("Enter name of the person:")
    q="update customer set name='%s' where id=%s"%(name, e_id)
    cur.execute(q)
    con.commit()
    print "*"*20
    print browse(e_id)
else:
    print "No operation.."

Enter id:11
[(11, u'pavan')]
want to update the record?(y/n)y
Enter name of the person:pavan_changed
********************
[(11, u'pavan_changed')]

In [20]:
def browse(e_id=None):
    q="select * from customer"
    if e_id:
        q=q+" where id=%s"%e_id
    cur.execute(q)
    return cur.fetchall()
e_id=raw_input("Enter id:")
print browse(e_id)
opt=raw_input("want to delete the record?(y/n)")
if opt.lower()=="y":
    q="delete from customer where id=%s"%e_id
    cur.execute(q)
    con.commit()
    print "*"*20
    print browse(e_id)
else:
    print "No operation.."

Enter id:11
[(11, u'pavan_changed')]
want to update the record?(y/n)y
********************
[]

In [21]:
import psycopg2

In [22]:
con=psycopg2.connect(host="localhost",
                     user="postgres",
                     password="root",
                    database="batch46",
                    port=5432)
cur=con.cursor()
cur.execute("create table customer(id int, name varchar(250))")
import random
names=["pavan","rajesh","jay","sathish","Naresh"]
for i in xrange(100):
    q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
    cur.execute(q)
con.commit()
con.commit()

In [23]:
def browse(e_id=None):
    q="select * from customer"
    if e_id:
        q=q+" where id=%s"%e_id
    cur.execute(q)
    return cur.fetchall()
e_id=raw_input("Enter id:")
print browse(e_id)
opt=raw_input("want to delete the record?(y/n)")
if opt.lower()=="y":
    q="delete from customer where id=%s"%e_id
    cur.execute(q)
    con.commit()
    print "*"*20
    print browse(e_id)
else:
    print "No operation.."

Enter id:10
[(10, 'jay')]
want to delete the record?(y/n)y
********************
[]