In [1]:
person_name=raw_input("Enter name:")
# My name is:anil
print "My name is:"

Enter name:name
My name is:

In [2]:
person_name=raw_input("Enter name:")
# My name is:anil
print "My name is:",person_name

Enter name:anil
My name is: anil

In [3]:
person_name=raw_input("Enter name:")
# My name is:anil
print "My name is: person_name"

Enter name:anil
My name is: person_name

In [4]:
name="anil"
print name
print "name"
print 'name'

anil
name
name

In [5]:
print "python"

python

In [6]:
print python

NameError: name 'python' is not defined

In [7]:
python="is a propgraming language"
print "python"
print python

python
is a propgraming language

In [10]:
name="Anil"
age=23
height=5.6
# Name:Anil, Age:23, Height:5.6
print "Name:",name,"Age:",age,"Height:",height

Name: Anil Age: 23 Height: 5.6

In [11]:
name="Anil"
age=23
height=5.6
# Name:Anil, Age:23, Height:5.6
print "Name:"+name,"Age:",age,"Height:",height

Name:Anil Age: 23 Height: 5.6

In [12]:
name="Anil"
age=23
height=5.6
# Name:Anil, Age:23, Height:5.6
print "Name:"+name,"Age:"+age,"Height:",height

Name:Anil

TypeError: cannot concatenate 'str' and 'int' objects

In [13]:
name="Anil"
age=23
height=5.6
# Name:Anil, Age:23, Height:5.6
print "Name:"+name,"Age:"+str(age),"Height:",height

 Name:Anil Age:23 Height: 5.6

In [14]:
name="Anil"
age=23
height=5.6
# Name:Anil, Age:23, Height:5.6
print "Name:"+name,"Age:"+str(age),"Height:"+height

Name:Anil Age:23

TypeError: cannot concatenate 'str' and 'float' objects

In [15]:
name="Anil"
age=23
height=5.6
# Name:Anil, Age:23, Height:5.6
print "Name:"+name,"Age:"+str(age),"Height:"+str(height)

 Name:Anil Age:23 Height:5.6

In [16]:
name="Anil"
age=23
height=5.6
# Name:Anil, Age:23, Height:5.6
print "Name:"+name,", Age:"+str(age),", Height:"+str(height)

Name:Anil , Age:23 , Height:5.6

In [17]:
name="Anil"
age=23
height=5.6
# Name:Anil, Age:23, Height:5.6
print "Name:"+name+", Age:"+str(age)+", Height:"+str(height)

Name:Anil, Age:23, Height:5.6

In [19]:
print "line1"
print "line2"

line1
line2

In [20]:
print "line1\nline2"

line1
line2

In [21]:
print "line1\tline2"

line1	line2

In [22]:
print "line1\vline2"

line1line2

In [23]:
print "line1\aline2"

line1line2

In [24]:
print "line1\nline2"

line1
line2

In [25]:
print "line1\\nline2"

line1\nline2

In [26]:
print "line1\line2"

line1\line2

In [27]:
print "line1\\line2"

line1\line2

In [29]:
print "line1/line2"

line1/line2

In [30]:
print "line1//line2"

line1//line2

In [31]:
s="sfsdafsd\nsdfsdf\nsdfsdaf\nsdfsd\nfsdfsd\msdfsdf\nsdfsd\nsdfsdf\ndsfdsfsd\ndsfdsfds\nsdfds"
print s

sfsdafsd
sdfsdf
sdfsdaf
sdfsd
fsdfsd\msdfsdf
sdfsd
sdfsdf
dsfdsfsd
dsfdsfds
sdfds

In [32]:
s=r"sfsdafsd\nsdfsdf\nsdfsdaf\nsdfsd\nfsdfsd\msdfsdf\nsdfsd\nsdfsdf\ndsfdsfsd\ndsfdsfds\nsdfds"
print s

sfsdafsd\nsdfsdf\nsdfsdaf\nsdfsd\nfsdfsd\msdfsdf\nsdfsd\nsdfsdf\ndsfdsfsd\ndsfdsfds\nsdfds

In [34]:
s="python program"
print len(s)

14

In [35]:
s="python\nprogram"
print len(s)

14

In [36]:
s="python\nprogram\n"
print len(s)

15

In [37]:
s="python\nprogram\n\n\n\n"
print len(s)

18

In [38]:
s=r"python\nprogram\n\n\n\n"
3print len(s)

23

In [39]:
#it's a cool day in HYD
print "it's a cool day in HYD"

it's a cool day in HYD

In [40]:
#it's a cool day in HYD
print 'it's a cool day in HYD'

SyntaxError: invalid syntax (<ipython-input-40-adee5a032a07>, line 2)

In [41]:
#it's a cool day in HYD
print 'it\'s a cool day in HYD'

it's a cool day in HYD

In [42]:
#it's a cool day in "HYD"
print 'it\'s a cool day in "HYD"'

it's a cool day in "HYD"

In [43]:
#it's a cool day in "HYD"
print "it's a cool day in \"HYD\""

it's a cool day in "HYD"

In [44]:
#it's a cool day in "HYD"
print "it's a cool day in "HYD""

SyntaxError: invalid syntax (<ipython-input-44-46a5436e3ec2>, line 2)

In [45]:
print "sdfsfsdfsd sdfsdfsdf sd fsd fsd f sdf sd fds f dsf ds fsd f sdf sd f sdf sd fsdfsdfdsd"

sdfsfsdfsd sdfsdfsdf sd fsd fsd f sdf sd fds f dsf ds fsd f sdf sd f sdf sd fsdfsdfdsd

In [46]:
print "st1"; print "st2"

st1
st2

In [47]:
a=10; b=20;c=30;d=40

In [48]:
a=10 b=20 c=30 d=40

SyntaxError: invalid syntax (<ipython-input-48-07dca1cf60bd>, line 1)

In [49]:
print "sdfsfsdfsd sdfsdfsdf sd fsd fsd f sdf sd fds 
f dsf ds fsd f sdf sd f sdf sd fsdfsdfdsd"

SyntaxError: EOL while scanning string literal (<ipython-input-49-ba53654513ba>, line 1)

In [50]:
print "sdfsfsdfsd sdfsdfsdf sd fsd fsd f sdf sd fds\
f dsf ds fsd f sdf sd f sdf sd fsdfsdfdsd"

sdfsfsdfsd sdfsdfsdf sd fsd fsd f sdf sd fdsf dsf ds fsd f sdf sd f sdf sd fsdfsdfdsd

In [52]:
a=10
b=20
c=30
d=40
e=50
f=a+b-c*d/e+a+b+c+d+e+a/d*c
print f

156

In [53]:
a=10
b=20
c=30
d=40
e=50
f=a+b-c*d/e+a+b+
c+d+e+a/d*c
print f

SyntaxError: invalid syntax (<ipython-input-53-4cbafee7414c>, line 6)

In [54]:
a=10
b=20
c=30
d=40
e=50
f=a+b-c*d/e+a+b+\
c+d+e+a/d*c
print f

156

In [55]:
name="Anil"
age=23
height=5.6
# Name:Anil, Age:23, Height:5.6
print "Name:"+name+", Age:"+str(age)+", Height:"+str(height)

Name:Anil, Age:23, Height:5.6

In [56]:
print "%s,%d,%f,%o,%x,%X,%r"

%s,%d,%f,%o,%x,%X,%r

In [57]:
a=12
print "%f",a

%f 12

In [58]:
a=12
print "%f"%a

12.000000

In [59]:
a=12.234567893425667
print "%f"%a

12.234568

In [60]:
a=12.234567893425667
print "%.2f"%a

12.23

In [61]:
a=12.236567893425667
print "%.2f"%a

12.24

In [62]:
a=123434
print "%s"%a
print "%f"%a
print "%d"%a
print "%o"%a
print "%x"%a
print "%X"%a
print "%r"%a

123434
123434.000000
123434
361052
1e22a
1E22A
123434

In [63]:
a=12.344567
print "%s"%a

12.344567

In [64]:
a=12.3445678
print "%s"%a

12.3445678

In [65]:
a=12.3445678
print "%s"%a
print "%f"%a

12.3445678
12.344568

In [66]:
a=12.3445678345675432
print "%s"%a
print "%f"%a

12.3445678346
12.344568

In [67]:
a=12.3445678345675432
print a
print "%s"%a
print "%f"%a

12.3445678346
12.3445678346
12.344568

In [68]:
a=123456789765432123456723456789876543212
print a

123456789765432123456723456789876543212

In [69]:
a=123456789765432123456723456789876543212
print a
print "%s"%a

123456789765432123456723456789876543212
123456789765432123456723456789876543212

In [70]:
name="Anil"
age=23
height=5.6
# Name:Anil, Age:23, Height:5.6
print "Name:"+name+", Age:"+str(age)+", Height:"+str(height)
print"Name:%s, Age:%s, Height:%s"%(name,age,height)

Name:Anil, Age:23, Height:5.6
Name:Anil, Age:23, Height:5.6

In [71]:
name="Anil"
age=23
height=5.6348765432
# Name:Anil, Age:23, Height:5.6
print "Name:"+name+", Age:"+str(age)+", Height:"+str(height)
print"Name:%s, Age:%s, Height:%f"%(name,age,height)

Name:Anil, Age:23, Height:5.6348765432
Name:Anil, Age:23, Height:5.634877

In [72]:
name="Anil"
age=23
height=5.6348765432
# Name:Anil, Age:23, Height:5.6
print "Name:"+name+", Age:"+str(age)+", Height:"+str(height)
print"Name:%s, Age:%s, Height:%.2f"%(name,age,height)

Name:Anil, Age:23, Height:5.6348765432
Name:Anil, Age:23, Height:5.63

In [73]:
name="Anil"
age=23
height=5.6348765432
# Name:Anil, Age:23, Height:5.6
print "Name:"+name+", Age:"+str(age)+", Height:"+str(height)
print"Name:%s, Age:%s, Height:%d"%(name,age,height)

Name:Anil, Age:23, Height:5.6348765432
Name:Anil, Age:23, Height:5