In [2]:
import os
print os.path.join("data","data.csv")

data/data.csv

In [3]:
f=open("data.csv","w")

In [4]:
f.write("this is first line in files")

In [5]:
f.close()

In [6]:
f.write("\n this is second line in files")

ValueError: I/O operation on closed file

In [7]:
f=open("data.csv","w")

In [8]:
f=open("data.csv","w")
f.write("this is first line in files")
f.write("\n this is second line in files")
f.close()

In [9]:
f=open("data.csv","w")
f.write("\nthis is third line in files")

f.close()

In [10]:
f=open("data.csv","a")
f.write("\nthis is first line in files")
f.write("\nthis is second line in files")
f.flush()

In [11]:
f.write("\nthis is fourth line in files")

In [12]:
f.close()

In [13]:
f.write("sdfsdf")

ValueError: I/O operation on closed file

In [14]:
f=open("data.csv","w")
l=["1,name1,23","2,name2,24","3,name4,25"]
f.write(l)
f.close()

TypeError: expected a string or other character buffer object

In [16]:
f=open("data.csv","w")
l=["1,name1,23","\n2,name2,24","\n3,name4,25"]
f.writelines(l)
f.close()

In [17]:
f=open("data.csv","w")
l=["1,name1,23","\n2,name2,24","\n3,name4,25",234,566]
f.writelines(l)
f.close()

TypeError: writelines() argument must be a sequence of strings

In [18]:
names=["jayaram","kiran","danush","karthikeya","shruthi","thrishanth"]
ages=range(24,30)
sals=range(30000,90000,10000)
print ages
print sals

[24, 25, 26, 27, 28, 29]
[30000, 40000, 50000, 60000, 70000, 80000]

In [19]:
names=["jayaram","kiran","danush","karthikeya","shruthi","thrishanth"]
ages=range(24,30)
sals=range(30000,90000,10000)
import os
os.path.isfile("data.csv")

True

In [20]:
names=["jayaram","kiran","danush","karthikeya","shruthi","thrishanth"]
ages=range(24,30)
sals=range(30000,90000,10000)
import os
os.path.isfile("data1.csv")

False

In [21]:
import random as r
names=["jayaram","kiran","danush","karthikeya","shruthi","thrishanth"]
ages=xrange(24,30)
sals=xrange(30000,90000,10000)
f=open("data.csv","w")
for i in xrange(100):
    row="%s,%s,%s"%(r.choice(names),r.choice(ages),r.choice(sals))
    print row

jayaram,29,30000
shruthi,26,80000
jayaram,29,60000
kiran,27,70000
jayaram,28,40000
karthikeya,29,40000
thrishanth,25,40000
danush,26,30000
thrishanth,26,60000
jayaram,29,30000
shruthi,27,40000
shruthi,27,70000
thrishanth,27,70000
shruthi,26,40000
kiran,26,40000
karthikeya,28,40000
kiran,29,70000
karthikeya,29,60000
thrishanth,25,60000
kiran,27,50000
danush,25,40000
thrishanth,24,80000
shruthi,24,40000
shruthi,27,70000
karthikeya,27,40000
karthikeya,29,70000
karthikeya,28,40000
jayaram,24,50000
karthikeya,27,60000
karthikeya,24,30000
danush,25,30000
shruthi,24,30000
shruthi,28,30000
jayaram,29,40000
karthikeya,24,30000
danush,25,30000
karthikeya,25,50000
kiran,24,50000
kiran,29,40000
kiran,27,60000
karthikeya,25,30000
danush,24,30000
kiran,24,60000
kiran,26,60000
thrishanth,25,40000
karthikeya,25,70000
thrishanth,25,40000
danush,27,80000
danush,27,60000
thrishanth,25,30000
shruthi,27,40000
kiran,24,60000
jayaram,27,60000
jayaram,26,30000
jayaram,25,30000
thrishanth,28,30000
kiran,24,70000
shruthi,26,40000
thrishanth,28,50000
jayaram,24,80000
kiran,24,30000
thrishanth,26,70000
kiran,24,80000
kiran,28,50000
kiran,27,70000
karthikeya,28,50000
jayaram,26,70000
thrishanth,28,70000
kiran,26,70000
danush,26,30000
karthikeya,25,80000
karthikeya,26,50000
karthikeya,25,80000
karthikeya,26,40000
karthikeya,26,60000
jayaram,24,70000
kiran,24,40000
thrishanth,29,60000
kiran,26,80000
shruthi,29,60000
shruthi,28,70000
danush,27,40000
karthikeya,24,80000
danush,29,80000
danush,24,60000
karthikeya,27,40000
danush,28,80000
jayaram,27,50000
shruthi,27,60000
jayaram,25,40000
kiran,24,80000
jayaram,26,40000
jayaram,25,80000
danush,27,60000
kiran,29,50000
danush,24,70000
karthikeya,28,80000
jayaram,28,50000
kiran,25,50000
karthikeya,27,50000

In [23]:
import random as r
names=["jayaram","kiran","danush","karthikeya","shruthi","thrishanth"]
ages=xrange(24,30)
sals=xrange(30000,90000,10000)
f=open("data.csv","w")
for i in xrange(100):
    row="%s,%s,%s\n"%(r.choice(names),r.choice(ages),r.choice(sals))
    f.write(row)
f.close()

In [25]:
f=open("data.csv","r")
data=f.read()
print data

danush,29,60000
karthikeya,26,30000
kiran,27,50000
danush,26,60000
jayaram,28,70000
shruthi,27,50000
shruthi,27,50000
kiran,25,60000
karthikeya,26,70000
danush,25,70000
karthikeya,26,40000
kiran,26,40000
shruthi,29,60000
jayaram,29,80000
jayaram,25,50000
danush,24,70000
shruthi,26,60000
thrishanth,28,50000
kiran,26,30000
kiran,26,60000
jayaram,27,80000
kiran,26,60000
karthikeya,29,40000
danush,28,80000
kiran,28,60000
jayaram,24,50000
karthikeya,25,80000
kiran,25,60000
kiran,29,70000
thrishanth,29,30000
karthikeya,25,50000
thrishanth,25,80000
jayaram,29,60000
shruthi,25,50000
jayaram,27,60000
jayaram,27,40000
thrishanth,24,70000
karthikeya,25,50000
karthikeya,28,50000
shruthi,26,30000
danush,28,40000
thrishanth,29,30000
thrishanth,28,60000
thrishanth,24,80000
jayaram,24,60000
shruthi,25,60000
jayaram,26,60000
kiran,26,80000
kiran,27,30000
thrishanth,27,70000
jayaram,28,60000
jayaram,24,40000
danush,27,30000
jayaram,29,50000
danush,27,30000
karthikeya,25,40000
thrishanth,29,80000
shruthi,26,60000
shruthi,28,70000
kiran,27,70000
kiran,28,60000
thrishanth,25,40000
kiran,24,60000
danush,27,50000
kiran,29,60000
kiran,29,50000
jayaram,26,30000
karthikeya,27,80000
kiran,26,40000
karthikeya,28,40000
kiran,29,50000
karthikeya,29,80000
shruthi,27,60000
danush,24,40000
danush,25,80000
kiran,25,50000
thrishanth,25,50000
karthikeya,26,80000
kiran,26,80000
kiran,26,60000
danush,27,60000
karthikeya,24,70000
karthikeya,28,50000
thrishanth,29,50000
thrishanth,24,80000
danush,24,70000
danush,29,40000
jayaram,25,60000
shruthi,25,50000
kiran,27,60000
danush,27,50000
jayaram,28,80000
danush,29,40000
thrishanth,28,40000
kiran,28,70000
kiran,29,40000
danush,26,80000
shruthi,26,80000
danush,27,40000
kiran,25,70000

In [27]:
f=open("data.csv","r")
data=f.read(10)
print data

danush,29,

In [28]:
data1=f.read(10)
print data1

60000
kart

In [29]:
data1=f.read(10)
print data1

hikeya,26,

In [31]:
data1=f.read(10)
print data1

30000
kira

In [32]:
f=open("data.csv","r")
print f.readline()
print f.readline()
print f.readline()
print f.readline()

danush,29,60000

karthikeya,26,30000

kiran,27,50000

danush,26,60000

In [33]:
data=f.readlines()
print data

['jayaram,28,70000\n', 'shruthi,27,50000\n', 'shruthi,27,50000\n', 'kiran,25,60000\n', 'karthikeya,26,70000\n', 'danush,25,70000\n', 'karthikeya,26,40000\n', 'kiran,26,40000\n', 'shruthi,29,60000\n', 'jayaram,29,80000\n', 'jayaram,25,50000\n', 'danush,24,70000\n', 'shruthi,26,60000\n', 'thrishanth,28,50000\n', 'kiran,26,30000\n', 'kiran,26,60000\n', 'jayaram,27,80000\n', 'kiran,26,60000\n', 'karthikeya,29,40000\n', 'danush,28,80000\n', 'kiran,28,60000\n', 'jayaram,24,50000\n', 'karthikeya,25,80000\n', 'kiran,25,60000\n', 'kiran,29,70000\n', 'thrishanth,29,30000\n', 'karthikeya,25,50000\n', 'thrishanth,25,80000\n', 'jayaram,29,60000\n', 'shruthi,25,50000\n', 'jayaram,27,60000\n', 'jayaram,27,40000\n', 'thrishanth,24,70000\n', 'karthikeya,25,50000\n', 'karthikeya,28,50000\n', 'shruthi,26,30000\n', 'danush,28,40000\n', 'thrishanth,29,30000\n', 'thrishanth,28,60000\n', 'thrishanth,24,80000\n', 'jayaram,24,60000\n', 'shruthi,25,60000\n', 'jayaram,26,60000\n', 'kiran,26,80000\n', 'kiran,27,30000\n', 'thrishanth,27,70000\n', 'jayaram,28,60000\n', 'jayaram,24,40000\n', 'danush,27,30000\n', 'jayaram,29,50000\n', 'danush,27,30000\n', 'karthikeya,25,40000\n', 'thrishanth,29,80000\n', 'shruthi,26,60000\n', 'shruthi,28,70000\n', 'kiran,27,70000\n', 'kiran,28,60000\n', 'thrishanth,25,40000\n', 'kiran,24,60000\n', 'danush,27,50000\n', 'kiran,29,60000\n', 'kiran,29,50000\n', 'jayaram,26,30000\n', 'karthikeya,27,80000\n', 'kiran,26,40000\n', 'karthikeya,28,40000\n', 'kiran,29,50000\n', 'karthikeya,29,80000\n', 'shruthi,27,60000\n', 'danush,24,40000\n', 'danush,25,80000\n', 'kiran,25,50000\n', 'thrishanth,25,50000\n', 'karthikeya,26,80000\n', 'kiran,26,80000\n', 'kiran,26,60000\n', 'danush,27,60000\n', 'karthikeya,24,70000\n', 'karthikeya,28,50000\n', 'thrishanth,29,50000\n', 'thrishanth,24,80000\n', 'danush,24,70000\n', 'danush,29,40000\n', 'jayaram,25,60000\n', 'shruthi,25,50000\n', 'kiran,27,60000\n', 'danush,27,50000\n', 'jayaram,28,80000\n', 'danush,29,40000\n', 'thrishanth,28,40000\n', 'kiran,28,70000\n', 'kiran,29,40000\n', 'danush,26,80000\n', 'shruthi,26,80000\n', 'danush,27,40000\n', 'kiran,25,70000\n']

In [34]:
f=open("data.csv","r")
for i in f:
    print i

danush,29,60000

karthikeya,26,30000

kiran,27,50000

danush,26,60000

jayaram,28,70000

shruthi,27,50000

shruthi,27,50000

kiran,25,60000

karthikeya,26,70000

danush,25,70000

karthikeya,26,40000

kiran,26,40000

shruthi,29,60000

jayaram,29,80000

jayaram,25,50000

danush,24,70000

shruthi,26,60000

thrishanth,28,50000

kiran,26,30000

kiran,26,60000

jayaram,27,80000

kiran,26,60000

karthikeya,29,40000

danush,28,80000

kiran,28,60000

jayaram,24,50000

karthikeya,25,80000

kiran,25,60000

kiran,29,70000

thrishanth,29,30000

karthikeya,25,50000

thrishanth,25,80000

jayaram,29,60000

shruthi,25,50000

jayaram,27,60000

jayaram,27,40000

thrishanth,24,70000

karthikeya,25,50000

karthikeya,28,50000

shruthi,26,30000

danush,28,40000

thrishanth,29,30000

thrishanth,28,60000

thrishanth,24,80000

jayaram,24,60000

shruthi,25,60000

jayaram,26,60000

kiran,26,80000

kiran,27,30000

thrishanth,27,70000

jayaram,28,60000

jayaram,24,40000

danush,27,30000

jayaram,29,50000

danush,27,30000

karthikeya,25,40000

thrishanth,29,80000

shruthi,26,60000

shruthi,28,70000

kiran,27,70000

kiran,28,60000

thrishanth,25,40000

kiran,24,60000

danush,27,50000

kiran,29,60000

kiran,29,50000

jayaram,26,30000

karthikeya,27,80000

kiran,26,40000

karthikeya,28,40000

kiran,29,50000

karthikeya,29,80000

shruthi,27,60000

danush,24,40000

danush,25,80000

kiran,25,50000

thrishanth,25,50000

karthikeya,26,80000

kiran,26,80000

kiran,26,60000

danush,27,60000

karthikeya,24,70000

karthikeya,28,50000

thrishanth,29,50000

thrishanth,24,80000

danush,24,70000

danush,29,40000

jayaram,25,60000

shruthi,25,50000

kiran,27,60000

danush,27,50000

jayaram,28,80000

danush,29,40000

thrishanth,28,40000

kiran,28,70000

kiran,29,40000

danush,26,80000

shruthi,26,80000

danush,27,40000

kiran,25,70000

In [35]:
f=open("data.csv","r")
data=f.read()
data1=f.read()
print "dat1=",data1

dat1=

In [36]:
f=open("data.csv")
print f.tell()
data=f.read()
print f.tell()
data1=f.read()
print f.tell()
print "dat1=",data1

0
1719
1719
dat1=

In [37]:
f=open("data.csv")
print f.tell()
data=f.read(1500)
print f.tell()
data1=f.read()
print f.tell()
print "dat1=",data1

0
1500
1719
dat1= ,40000
jayaram,25,60000
shruthi,25,50000
kiran,27,60000
danush,27,50000
jayaram,28,80000
danush,29,40000
thrishanth,28,40000
kiran,28,70000
kiran,29,40000
danush,26,80000
shruthi,26,80000
danush,27,40000
kiran,25,70000

In [38]:
f=open("data.csv")
print f.tell()
data=f.read(1500)
print f.tell()
f.seek(100)
print f.tell()
data1=f.read()
print f.tell()
print "dat1=",data1

0
1500
100
1719
dat1=
shruthi,27,50000
kiran,25,60000
karthikeya,26,70000
danush,25,70000
karthikeya,26,40000
kiran,26,40000
shruthi,29,60000
jayaram,29,80000
jayaram,25,50000
danush,24,70000
shruthi,26,60000
thrishanth,28,50000
kiran,26,30000
kiran,26,60000
jayaram,27,80000
kiran,26,60000
karthikeya,29,40000
danush,28,80000
kiran,28,60000
jayaram,24,50000
karthikeya,25,80000
kiran,25,60000
kiran,29,70000
thrishanth,29,30000
karthikeya,25,50000
thrishanth,25,80000
jayaram,29,60000
shruthi,25,50000
jayaram,27,60000
jayaram,27,40000
thrishanth,24,70000
karthikeya,25,50000
karthikeya,28,50000
shruthi,26,30000
danush,28,40000
thrishanth,29,30000
thrishanth,28,60000
thrishanth,24,80000
jayaram,24,60000
shruthi,25,60000
jayaram,26,60000
kiran,26,80000
kiran,27,30000
thrishanth,27,70000
jayaram,28,60000
jayaram,24,40000
danush,27,30000
jayaram,29,50000
danush,27,30000
karthikeya,25,40000
thrishanth,29,80000
shruthi,26,60000
shruthi,28,70000
kiran,27,70000
kiran,28,60000
thrishanth,25,40000
kiran,24,60000
danush,27,50000
kiran,29,60000
kiran,29,50000
jayaram,26,30000
karthikeya,27,80000
kiran,26,40000
karthikeya,28,40000
kiran,29,50000
karthikeya,29,80000
shruthi,27,60000
danush,24,40000
danush,25,80000
kiran,25,50000
thrishanth,25,50000
karthikeya,26,80000
kiran,26,80000
kiran,26,60000
danush,27,60000
karthikeya,24,70000
karthikeya,28,50000
thrishanth,29,50000
thrishanth,24,80000
danush,24,70000
danush,29,40000
jayaram,25,60000
shruthi,25,50000
kiran,27,60000
danush,27,50000
jayaram,28,80000
danush,29,40000
thrishanth,28,40000
kiran,28,70000
kiran,29,40000
danush,26,80000
shruthi,26,80000
danush,27,40000
kiran,25,70000

In [1]:
f=open("data.csv")
data=f.read()
print data[:100]

danush,29,60000
karthikeya,26,30000
kiran,27,50000
danush,26,60000
jayaram,28,70000
shruthi,27,50000

In [2]:
f=open("data.csv")
data=f.read()
for row in data.splitlines():
    print row
    break

danush,29,60000

In [4]:
f=open("data.csv")
data=f.read()
for row in data.splitlines():
    print row.split(",")
    break

['danush', '29', '60000']

In [5]:
f=open("data.csv")
data=f.read()
for row in data.splitlines():
    print row.split(",")[-1]
    break

60000

In [6]:
f=open("data.csv")
import csv

In [7]:
dir(csv)

['Dialect',
 'DictReader',
 'DictWriter',
 'Error',
 'QUOTE_ALL',
 'QUOTE_MINIMAL',
 'QUOTE_NONE',
 'QUOTE_NONNUMERIC',
 'Sniffer',
 'StringIO',
 '_Dialect',
 '__all__',
 '__builtins__',
 '__doc__',
 '__file__',
 '__name__',
 '__package__',
 '__version__',
 'excel',
 'excel_tab',
 'field_size_limit',
 'get_dialect',
 'list_dialects',
 're',
 'reader',
 'reduce',
 'register_dialect',
 'unregister_dialect',
 'writer']

In [8]:
csv.reader?

In [9]:
f=open("data.csv")
for i in f:
    print i
    break

danush,29,60000

In [10]:
f=open("data.csv")
data=csv.reader(f)
print data

<_csv.reader object at 0x7f907dc778a0>

In [11]:
dir(data)

['__class__',
 '__delattr__',
 '__doc__',
 '__format__',
 '__getattribute__',
 '__hash__',
 '__init__',
 '__iter__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'dialect',
 'line_num',
 'next']

In [12]:
data.next()

['danush', '29', '60000']

In [13]:
f=open("data.csv")
data=csv.reader(f)
for row in data:
    print row

['danush', '29', '60000']
['karthikeya', '26', '30000']
['kiran', '27', '50000']
['danush', '26', '60000']
['jayaram', '28', '70000']
['shruthi', '27', '50000']
['shruthi', '27', '50000']
['kiran', '25', '60000']
['karthikeya', '26', '70000']
['danush', '25', '70000']
['karthikeya', '26', '40000']
['kiran', '26', '40000']
['shruthi', '29', '60000']
['jayaram', '29', '80000']
['jayaram', '25', '50000']
['danush', '24', '70000']
['shruthi', '26', '60000']
['thrishanth', '28', '50000']
['kiran', '26', '30000']
['kiran', '26', '60000']
['jayaram', '27', '80000']
['kiran', '26', '60000']
['karthikeya', '29', '40000']
['danush', '28', '80000']
['kiran', '28', '60000']
['jayaram', '24', '50000']
['karthikeya', '25', '80000']
['kiran', '25', '60000']
['kiran', '29', '70000']
['thrishanth', '29', '30000']
['karthikeya', '25', '50000']
['thrishanth', '25', '80000']
['jayaram', '29', '60000']
['shruthi', '25', '50000']
['jayaram', '27', '60000']
['jayaram', '27', '40000']
['thrishanth', '24', '70000']
['karthikeya', '25', '50000']
['karthikeya', '28', '50000']
['shruthi', '26', '30000']
['danush', '28', '40000']
['thrishanth', '29', '30000']
['thrishanth', '28', '60000']
['thrishanth', '24', '80000']
['jayaram', '24', '60000']
['shruthi', '25', '60000']
['jayaram', '26', '60000']
['kiran', '26', '80000']
['kiran', '27', '30000']
['thrishanth', '27', '70000']
['jayaram', '28', '60000']
['jayaram', '24', '40000']
['danush', '27', '30000']
['jayaram', '29', '50000']
['danush', '27', '30000']
['karthikeya', '25', '40000']
['thrishanth', '29', '80000']
['shruthi', '26', '60000']
['shruthi', '28', '70000']
['kiran', '27', '70000']
['kiran', '28', '60000']
['thrishanth', '25', '40000']
['kiran', '24', '60000']
['danush', '27', '50000']
['kiran', '29', '60000']
['kiran', '29', '50000']
['jayaram', '26', '30000']
['karthikeya', '27', '80000']
['kiran', '26', '40000']
['karthikeya', '28', '40000']
['kiran', '29', '50000']
['karthikeya', '29', '80000']
['shruthi', '27', '60000']
['danush', '24', '40000']
['danush', '25', '80000']
['kiran', '25', '50000']
['thrishanth', '25', '50000']
['karthikeya', '26', '80000']
['kiran', '26', '80000']
['kiran', '26', '60000']
['danush', '27', '60000']
['karthikeya', '24', '70000']
['karthikeya', '28', '50000']
['thrishanth', '29', '50000']
['thrishanth', '24', '80000']
['danush', '24', '70000']
['danush', '29', '40000']
['jayaram', '25', '60000']
['shruthi', '25', '50000']
['kiran', '27', '60000']
['danush', '27', '50000']
['jayaram', '28', '80000']
['danush', '29', '40000']
['thrishanth', '28', '40000']
['kiran', '28', '70000']
['kiran', '29', '40000']
['danush', '26', '80000']
['shruthi', '26', '80000']
['danush', '27', '40000']
['kiran', '25', '70000']

In [15]:
data = csv.DictReader(f)

In [16]:
print data

<csv.DictReader instance at 0x7f907d1f9290>

In [17]:
for row in data:
    print row

In [18]:
f=open("data.csv")
data = csv.DictReader(f)
for row in data:
    print row
    break

{'60000': '30000', 'danush': 'karthikeya', '29': '26'}

In [19]:
f=open("data.csv")
data = csv.DictReader(f)
for row in data:
    print row
    break

{'age': '29', 'name': 'danush', 'sal': '60000'}

In [21]:
import json
f=open("data.json")
data = json.load(f)
print data

{u'glossary': {u'GlossDiv': {u'GlossList': {u'GlossEntry': {u'GlossDef': {u'GlossSeeAlso': [u'GML', u'XML'], u'para': u'A meta-markup language, used to create markup languages such as DocBook.'}, u'GlossSee': u'markup', u'Acronym': u'SGML', u'GlossTerm': u'Standard Generalized Markup Language', u'Abbrev': u'ISO 8879:1986', u'SortAs': u'SGML', u'ID': u'SGML'}}, u'title': u'S'}, u'title': u'example glossary'}}

In [22]:
import yaml
f=open("data.yaml")
data = yaml.load(f)
print data

{'environment': 'production', 'classes': {'nfs::server': {'exports': ['/srv/share1', '/srv/share3']}}, 'parameters': None}

In [23]:
f=open("data1.csv","w")
f.write("sdfdsf")

In [ ]:
p=[{'age': '29', 'name': 'danush', 'sal': '60000'},
   {'age': '28', 'name': 'thrishanth', 'sal': '70000'},
  ]